@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  padding: 2rem;
  font-family: "Indie Flower", cursive;
  background-color: #c1dec3;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-size: 2em;
}

div {
  box-sizing: content-box;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.cells {
  width: fit-content;
  padding: 1.5em;
  display: inline-block;
  border: 1px solid black;
  font-size: 1.5em;
  background-color: beige;
}
.cells.selected {
  color: red;
}
button {
  border-width: 1.8em;
  border-style: solid;
  border-color: azure;
  font-family: "Indie Flower", cursive;
  font-size: 1.3em;
  /* appearance: none; */
  background-color: azure;
}
#generatedNumber {
  border: 1px solid black;
  font-size: 2em;
  padding: 20px;
  box-sizing: content-box;
  background-color: #ff000091;
}
.fas {
  color: #df8826;
  font-size: 3em;
  padding: 30px;
}
